extends shared/master

block body
    div.container
    div(action='', method='POST', class="form-group", id="fiters")
        div(class="form-group form-inline")
            form(action='', method='POST')
                input(type="text" name="name" class="form-control input-lg"
                id="filter-name" placeholder="Name" value autocomplete="off")
                input(type="text" name="country" class="form-control input-lg"
                id="filter-country" placeholder="Country" value autocomplete="off")
                input(type="text" name="position" class="form-control input-lg"
                id="filter-position" placeholder="Position" value autocomplete="off")
                input(type="text" name="page" class="form-control input-lg"
                id="filter-page" placeholder="Page" value autocomplete="off")
                button.btn.btn-danger(type='submit', value='submit') Search

    div(id='players-container')
        each player in players
            div(class='player-card '+ player.color)
                img(class='headshot-img', src=player.headshotImgUrl)
                p(class='position')=player.position
                img(class='club-img', src=player.club.imageUrls.dark.medium)
                img(class='nation-img', src=player.nation.imageUrls.medium)
                section(class='details')
                    if player.commonName!=''
                        p(class='name')=player.commonName
                    else
                        p(class='name')=player.firstName+' '+player.lastName
                    section(class='price')
                        a(href='/'+player.nation.name+'/'+player.position+'/'+player.club.id+'/'+player.baseId)
                            button(class='show-player', class='btn btn-primary')='Negotiate'
    ul.pagination.justify-content-center
            li.page-item
                a.page-link(href='?page=1', aria-label='Previous')
                    span(aria-hidden='true') «
                    span.sr-only Previous
            each pageN in showPages
                li.page-item
                    if page != pageN
                        a.page-link(href='?page='+(pageN))=pageN
                    else
                        a.page-link(href='?page='+(pageN))
                            b=pageN
            li.page-item
                a.page-link(href='?page='+(totalPages), aria-label='Next')
                    span(aria-hidden='true') »
                    span.sr-only Next
                            
                    