extends shared/master

block body
    div(id='players-container')
        each player in players
            div(class='player-card '+ player.color)
                img(class='headshot-img', src=player.headshotImgUrl)
                p(class='position')=player.position
                img(class='club-img', src=player.club.imageUrls.dark.medium)
                img(class='nation-img', src=player.nation.imageUrls.medium)
                section(class='details')
                    if player.commonName!=''
                        p(class='name')=player.commonName
                    else
                        p(class='name')=player.firstName+' '+player.lastName
                    section(class='price')
                        a(href='/'+player.nation.name+'/'+player.baseId)
                            button(class='show-player', class='btn btn-primary')='Negotate'
                            
                    