extends shared/master

block body
    div(class='container')
        div(class='player-card '+ player.color)
            img(class='headshot-img', src=player.headshotImgUrl)
            p(class='position')=player.position
            img(class='club-img', src=player.club.imageUrls.dark.medium)
            img(class='nation-img', src=player.nation.imageUrls.medium)
            section(class='details')
                if player.commonName!=''
                    p(class='name')=player.commonName
                else
                    p(class='name')=player.firstName+' '+player.lastName
                section(class='price')
                    p(class='name')='Overall: '+player.rating
        br
        
        button#register-btn.btn.btn-success(type='submit', value='submit')=price
        button#register-btn.btn.btn-danger(type='submit', value='submit') Buy Later